@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(to right, #485563, #29323c);
}

.mainbody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainbody .bar-container {
  border: solid 2px white;
  border-radius: 4px;
  margin: 50px 0px;
  width: 800px;
  height: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.mainbody .bar-container .bar {
  background-color: coral;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  background-color: #202730;
  border-top: solid 2px coral;
}
footer select {
  padding: 0.8em 5em 0.8em 0.5em;
  border-radius: 4px;
  outline: none;
  font-size: 1rem;
}
footer .btn-container {
  display: flex;
  align-items: center;
  width: 500px;
  justify-content: space-around;
}

footer .algo-btn-container button {
  padding: 12px 30px;
  border-radius: 4px;
  background: none;
  border: solid 2px white;
  color: white;
  transition: all 0.3s ease;
  display: none;
}
footer .algo-btn-container button:disabled {
  border: solid 2px #fff9;
  color: #fff9;
}

footer .algo-btn-container button:not([disabled]):hover {
  background-color: white;
  color: black;
}

footer .slider-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .slider-container p {
  padding: 10px;
  margin-right: 50px;
  color: white;
  font-size: 1rem;
}
footer .slider-container .slider {
  appearance: none;
  width: 200px;
  height: 10px;
  background-color: coral;
  border-radius: 10px;
  outline: none;
}

footer .slider-container .slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid white;
  background: rgb(255, 96, 39);
}
footer .slider-container .slider::-ms-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid white;
  background: rgb(255, 96, 39);
}
footer .slider-container .slider::-moz-range-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid white;
  background: rgb(255, 96, 39);
}

footer .slider-container .slider:disabled {
  background-color: #fff9;
}
footer .slider-container .slider:disabled::-webkit-slider-thumb {
  background: rgb(179, 179, 179);
}

.randomize {
  padding: 12px 30px;
  border-radius: 4px;
  background: none;
  border: solid 2px white;
  color: white;
  transition: all 0.3s ease;
}
.randomize:disabled {
  border: solid 2px #fff9;
  color: #fff9;
}
.randomize:not([disabled]):hover {
  background-color: white;
  color: black;
}
.partition {
  height: 70px;
  width: 5px;
  background-color: coral;
  margin: 0px 10px;
  border-radius: 2px;
}

@media (max-width: 1060px) {
  footer .algo-btn-container button {
    padding: 10px 20px;
    font-size: 0.8rem;
  }
  .randomize {
    padding: 10px 20px;
    font-size: 0.8rem;
  }
  .partition {
    margin: 0px 5px;
  }
  footer select {
    font-size: 0.8rem;
    padding: 0.8em 3em 0.8em 0em;
  }
  footer .slider-container p {
    font-size: 0.8rem;
    margin-right: 10px;
    padding: 0px;
  }
  footer .slider-container .slider {
    width: 100px;
  }
}
@media (max-width: 880px) {
  .mainbody .bar-container {
    width: 700px;
  }
}

@media (max-width: 750px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .partition {
    display: none;
  }
  footer > * {
    margin: 20px 0px;
  }
  .mainbody .bar-container {
    width: 500px;
  }

  footer .btn-container {
    flex-direction: row-reverse;
    order: -1;
    justify-content: space-between;
    width: 600px;
  }

  footer .selection-container {
    width: 600px;
  }
  footer select {
    width: 100%;
  }

  footer .slider-container {
    justify-content: space-between;
    width: 600px;
  }
}
@media (max-width: 680px) {
  footer .btn-container {
    width: 500px;
  }
  footer .slider-container {
    width: 500px;
  }
  footer .selection-container {
    width: 500px;
  }
}
@media (max-width: 580px) {
  footer .btn-container {
    width: 400px;
  }
  .mainbody .bar-container {
    width: 400px;
  }
  footer .slider-container {
    width: 400px;
  }
  footer .selection-container {
    width: 400px;
  }
}
@media (max-width: 480px) {
  .mainbody .bar-container {
    width: 300px;
  }
  footer .btn-container {
    width: 250px;
  }
  footer .slider-container {
    width: 250px;
  }
  footer .selection-container {
    width: 250px;
  }
}
